:root {
    /* colors */
    --primary-nutmeg:  hsl(14, 45%, 36%);
    --primary-darkRaspbery: hsl(332, 51%, 32%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-roseWhite: hsl(330, 100%, 98%);
    --neutral-eggShell: hsl(30, 54%, 90%);
    --neutral-lighgrey: hsl(30, 18%, 87%);
    --neutral-wengeBrown: hsl(30, 10%, 34%);
    --neutral-DarkCharcoal: hsl(24, 5%, 18%);

    /* Fonts */
    --font-young: "Young Serif", serif;
    --font-outfit: "Outfit", sans-serif;

    /* font size */
    --primary-fontSize: 16px;

    /* font wieght */
    --font-bold: 700;
    --font-mid: 600;
    --font-reg: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--neutral-eggShell);
    box-sizing: border-box;
    font-family: var(--font-young);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: var(--neutral-white);
    padding: 30px;
    width: 50%;
    border-radius: 20px;
    margin: 100px auto 20px auto;
}
.image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom : 25px;
}

h1 {
    font-weight: 400;
    margin-bottom: 15px;
}
p{
    color: var(--neutral-wengeBrown);
    margin-bottom: 25px;
}

p,
.preparation-time > ul > li,
.ingredients > ul,
.instructions > ol > li > span,
.nutrition > p,
.nutrition-details > span > p  {
    font-size: var(--primary-fontSize);
}

h3 {
    font-family: var(--font-outfit);
    color: var(--primary-darkRaspbery)
}

.preparation-time {
    background-color: var(--neutral-roseWhite);
    padding: 20px 30px 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.preparation-time > ul {
    margin: 10px auto 0px 15px;
}
.preparation-time > ul > li {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: 5px;
    color: var(--primary-darkRaspbery)
}

.preparation-time > ul > li > span {
    font-family: var(--font-outfit);
    color: var(--neutral-wengeBrown);
}

.preparation-time > ul > li > span > span {
    font-weight: var(--font-bold);
}

h2 {
    color: var(--primary-nutmeg);
    font-weight: var(--font-reg);
    font-family: var(--font-young);
}

.ingredients > ul {
    margin-left: 20px;
    font-family: var(--font-outfit);
    padding: 15px 0;
}

.ingredients > ul > li{
    padding-left: 15px;
    padding-bottom: 10px;
    color: var(--primary-nutmeg)
}

.ingredients > ul > li > span {
    color:var(--neutral-wengeBrown);
}

.instructions {
    margin-top: 20px
}

.instructions > ol {
    padding: 15px 15px 15px 25px;
    font-family: var(--font-outfit);
}
.instructions > ol > li {
    color: var(--primary-nutmeg);
    padding-bottom: 10px;
    font-weight: var(--font-bold);
    padding-left: 12px ;
    font-family: var(--font-outfit);
}

.instructions > ol > li > span  {
    color: var(--neutral-wengeBrown);
    font-weight: var(--font-reg);
}

.instructions > ol > li > span > span {
    font-weight: var(--font-bold);
}

.nutrition {
    margin-top: 15px;
}

.nutrition > p {
    color: var(--neutral-wengeBrown);
    font-family: var(--font-outfit);
    padding-top: 15px;
    margin-bottom: 15px
}

.nutrition-details {
    font-family: var(--font-outfit);
    font-weight: var(--font-mid);
}
.nutrition-details > span {
    display: flex;
}
.nutrition-details > span > p {
    width: 45%;
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: var(--font-reg);
    padding-top: 10px;
}

.nutrition-details > span > span{
    color: var(--primary-nutmeg);
    font-weight: var(--font-mid);
    display: flex;
    align-items: center;
}

hr {
    background-color: var(--neutral-lighgrey);
    height: 1px;
    border: none;
}

/* media query 375px */

@media screen and (max-width: 375px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content {
        padding: 0px 20px 10px 30px; ;
    }
    .image {
        border-radius: 0;
    }

    .content > p {
        line-height: 25px;
    }
    
    .ingredients > ul, 
    .instructions > ol > li > span,
    .nutrition > p,
    .preparation-time > ul >li > span,
    .content > p,
    .nutrition-details > p {
        font-size: 16px;
    }
    .nutrition > p {
        padding-right: 30px
    }


}